h4{
			color: black;
		}

		.sel1{

			border: 1px 1px 1px solid black;
		}

		.sel3{
			text-align: center;

		
		}

		.sel4:hover{

			font-weight: bolder;

		}
		

		.devicon-hober-hober:hover{
			transform: scale(2);
		    position: center;
		}

		.footer-main-div
		{
			width: 100%;
			height:auto;
			margin:auto;
			background: #272727;
			padding: 20px 0px;


		}
		
		.devicon-hober

		{
			width: 100%;
			height: auto;
			margin: auto;


		}

		.devicon-hober ul

		{
			margin: 0px;
			padding: 0px;
			text-align: center;
		}

		.devicon-hober ul li

		{
			display: inline-block;
			width: 50px;
			height: 50px;
			margin: 0px 10px;
			border-radius: 100%;
			background: #C0C0C0;
		}

		.devicon-hober ul li a i

		{
			color: #FF0000;
			font-size: 25px;



		}

		.devicon-hober ul li i

		{
			line-height: 50px;
		}
		.sss{
			padding-bottom: 300px;
		}
		


		





